<!doctype html>
<html>
<head>
    <title>Ecks (X)</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="container">
        <input type="hidden" id="jid" value="{{ jid }}" />
        <div id="main">
            <div class="stanzas">
                
            </div>
            <div id="input">
                <input id="txtmain" type="text" placeholder="Say something!" />
            </div>
        </div>
        <div id="sidebar">
            <h5 class="sidelabel">Online Users</h5>
            <ul id="online">
            </ul>
        </div>
    </div>
</body>
</html>