body {
    background-color: #E4E4E4;
    font-family: sans-serif;  
    width: 100%;
}

.container {
    width: 100%;
}

#login {
    width: 600px;
    height: 300px;
    margin: auto;
    position: relative;
    top: 50%;
    margin-top: -150px;
    padding: 10px;
}